.intro {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: blanchedalmond;

}

.intro2 {
    color: aquamarine;
    font-style: italic;
}

img.intro3 {
border-radius: 30%;
}